
  
 <table class="tab" >
<mat-form-field class="center">
    <p>Formulaire d'ajout Client</p>
 
    <tr>    
        <td> <mat-label>Id</mat-label><input type="text" size="20"  ></td> 
    </tr>
    <tr>    
        <td> <mat-label>Nom</mat-label><input type="text" size="20"></td> 
    </tr>
    <tr>    
        <td> <mat-label>prenom</mat-label><input type="text" size="20"></td> 
    </tr>
    <tr>    
        <td> <mat-label>Adresse</mat-label><input type="text" size="20"></td> 
    </tr>
    <tr>    
        <td> <mat-label>Tel</mat-label><input type="text"  size="20"></td> 
    </tr>

</mat-form-field>
<div mat-dialog-actions >
    <button mat-button  color="primary" value="submit">Ajouter</button>
    <button mat-button cdkFocusInitial color="warn" value="reset">Annuler</button>

  </div>
</table> 